graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include .readthedocs.yml
include pytest.ini
include tox.ini

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include *.txt
include *.yml
recursive-include examples *.geojson
recursive-include src_old_dave *.cs
recursive-include src_old_dave *.h5
recursive-include src_old_dave *.net
recursive-include src_old_dave *.py
recursive-include src_old_dave *.xlsx
src_old_dave/topology/medium_voltage.py
recursive-include src_old_dave *.xsd

recursive-include examples *.py

global-exclude *.py[cod] __pycache__/* *.so *.dylib
