# via conda forge
Shapely
geopandas 
matplotlib
geopy
contextily  # schauen ob man das raus bekommt
fastapi
uvicorn
pytest
pytest-cov
pytest-xdist
pymongo
openpyxl
xmlschema
lxml
pyrosm
python-keycloak
authlib
rasterio
tqdm
owslib
# via pip
#pandapower
#pandapipes
#dave_client-0.0.0-py3-none-any.whl
