# via conda forge
Shapely
GDAL
Fiona
pyproj
Rtree
geopandas 
matplotlib
geopy
descartes
pandapower
rasterio
contextily
tqdm
fastapi
uvicorn
pytest
pytest-cov
pytest-xdist
pytables
pymongo
xmlschema
lxml
networkx
pyrosm
python-keycloak
authlib
# via pip
#pandapipes