# via conda forge
Shapely
geopandas 
matplotlib
geopy
pandapower
contextily
fastapi
uvicorn
pytest
pytest-cov
pytest-xdist
pre-commit
black
isort
pymongo
xmlschema
lxml
pyrosm
python-keycloak
authlib
# via pip
#pandapipes