# via conda forge
Shapely
geopandas 
matplotlib
geopy
contextily
fastapi
uvicorn
pytest
pytest-cov
pytest-xdist
pre-commit
black
isort
pymongo
openpyxl
xmlschema
lxml
pyrosm
python-keycloak
authlib
rasterio
tqdm
owslib
# via pip
#pandapower
#pandapipes
